  <!-- ========== FOOTER ========== -->
  <footer class="container">
 

    <hr class="my-0">

    <div class="row align-items-md-center space-1">
      <div class="col-md-4 mb-4 mb-lg-0">
        <!-- Social Networks -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="classic.html#">
              <span class="fab fa-facebook-f btn-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="classic.html#">
              <span class="fab fa-google btn-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="classic.html#">
              <span class="fab fa-twitter btn-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="classic.html#">
              <span class="fab fa-github btn-icon__inner"></span>
            </a>
          </li>
        </ul>
        <!-- End Social Networks -->
      </div>

      <div class="col-md-8 text-md-right">
        <!-- Links -->
        <ul class="list-inline list-group-flush list-group-borderless mb-0">
          <li class="list-inline-item pl-3">
            <a class="list-group-item-action font-size-1" href="../pages/privacy.html">Privacy &amp; policy</a>
          </li>
          <li class="list-inline-item pl-3">
            <a class="list-group-item-action font-size-1" href="../pages/terms.html">Terms &amp; conditions</a>
          </li>
          <li class="list-inline-item pl-3">
            <a class="list-group-item-action font-size-1" href="../pages/careers.html">Careers</a>
          </li>
        </ul>
        <!-- End Links -->
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->

  <!-- Go to Top -->
  <a class="js-go-to u-go-to" href="classic.html#"
    data-position='{"bottom": 15, "right": 15 }'
    data-type="fixed"
    data-offset-top="400"
    data-compensation="#header"
    data-show-effect="slideInUp"
    data-hide-effect="slideOutDown">
    <span class="fas fa-arrow-up u-go-to__inner"></span>
  </a>
  <!-- End Go to Top -->
