<!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main"  *ngIf="products.length > 0">
    <!-- Cart Section -->
    <div class="container space-1 space-md-2">
      <div class="row">
        <div class="col-lg-8 mb-7 mb-lg-0">
          <!-- Title -->
          <div class="d-flex justify-content-between align-items-end border-bottom pb-3 mb-7">
            <h1 class="h4 mb-0">Shopping cart</h1>
            <span>{{products.length}} items</span>
          </div>
          <!-- End Title -->

          <form>
            <!-- Product Content -->
            <div class="border-bottom pb-5 mb-5" *ngFor="let product of products">
              <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                  <div class="media">
                    <div class="max-width-15 w-100 mr-3">
                      <img class="img-fluid" src="../../assets/img/product_images/{{product.image}}" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <h2 class="h6">{{product.name}}</h2>
                      <div class="text-secondary font-size-1 mb-1">
                        <p>{{product.description| slice:0:40}}</p>
                      </div>
                      <div class="text-secondary font-size-1 mb-1">
                        <span>Price each: </span>
                        <span>{{product.price}}</span>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-5 col-md-3 offset-md-1">
                  <input type="number" class="form-control mb-3" (change)="updateCartProduct(product)" [(ngModel)]="product.amount" #ctrl="ngModel"  [ngModelOptions]="{standalone: true}" />



                  <a class="d-block text-secondary font-size-1 mb-1" (click)="removeFromCart(product.product_id)">
                    <span class="far fa-trash-alt mr-1"></span>
                    <span>Remove</span>
                  </a>

                  <!--<a class="d-block text-secondary font-size-1" href="javascript:;">
                    <span class="far fa-heart mr-1"></span>
                    <span>Save for later</span>
                  </a>-->
                </div>

                <div class="col-6 col-md-2 text-md-right">
                  <span class="font-weight-medium">${{product.price * product.amount}}</span>
                </div>
              </div>
            </div>
            <!-- End Product Content -->



            <div class="d-flex justify-content-end">
              <a href="/">
                <small class="fas fa-arrow-left mr-1"></small>
                Continue shopping
              </a>
            </div>
          </form>
        </div>

        <div class="col-lg-4">
          <div class="pl-lg-4">
            <!-- Order Summary -->
            <div class="border shadow-soft rounded p-5 mb-4">
              <!-- Title -->
              <div class="border-bottom pb-4 mb-4">
                <h2 class="h5 mb-0">Order summary</h2>
              </div>
              <!-- End Title -->

              <div class="border-bottom pb-4 mb-4">
                <div class="media align-items-center mb-3">
                  <h3 class="text-secondary font-size-1 font-weight-normal mb-0 mr-3">Item subtotal ({{products.length}})</h3>
                  <div class="media-body text-right">
                    <span class="font-weight-medium">${{total}}</span>
                  </div>
                </div>

                <div class="media align-items-center mb-3">
                  <h4 class="text-secondary font-size-1 font-weight-normal mb-0 mr-3">Delivery</h4>
                  <div class="media-body text-right">
                    <span class="font-weight-medium">Free</span>
                  </div>
                </div>

                <!-- Checkbox -->
                <div class="card border-0 mb-3">
                  <div class="card-body p-0">
                    <div class="custom-control custom-radio d-flex align-items-center small">
                      <input type="radio" class="custom-control-input" id="deliveryRadio1" name="deliveryRadio" checked>
                      <label class="custom-control-label ml-1" for="deliveryRadio1">
                        <span class="d-block font-size-1 font-weight-medium mb-1">Free - Standard delivery</span>
                        <span class="d-block text-muted">Shipment may take 5-6 business days.</span>
                      </label>
                    </div>
                  </div>
                </div>
                <!-- End Checkbox -->

                <!-- Checkbox --
                <div class="card border-0">
                  <div class="card-body p-0">
                    <div class="custom-control custom-radio d-flex align-items-center small">
                      <input type="radio" class="custom-control-input" id="deliveryRadio2" name="deliveryRadio">
                      <label class="custom-control-label ml-1" for="deliveryRadio2">
                        <span class="d-block font-size-1 font-weight-medium mb-1">$7.99 - Express delivery</span>
                        <span class="d-block text-muted">Shipment may take 2-3 business days.</span>
                      </label>
                    </div>
                  </div>
                </div>
                <!-- End Checkbox -->
              </div>

              <div class="media align-items-center mb-3">
                <h4 class="text-secondary font-size-1 font-weight-normal mb-0 mr-3">Estimated tax</h4>
                <div class="media-body text-right">
                  <span class="font-weight-medium">--</span>
                </div>
              </div>

              <div class="media align-items-center mb-4">
                <h4 class="text-secondary font-size-1 font-weight-normal mb-0 mr-3">Total</h4>
                <div class="media-body text-right">
                  <span class="font-weight-medium">${{total}}</span>
                </div>
              </div>

              <a class="btn btn-primary btn-pill transition-3d-hover" href="/checkout">Checkout</a>
              <!--<button type="submit" class="btn btn-soft-warning btn-pill transition-3d-hover">
                <img src="../../assets/img/logos/paypal.png" width="70" alt="PayPal logo">
              </button>-->
            </div>
            <!-- End Order Summary -->

            <!-- Accordion --
            <div id="shopCartAccordion" class="accordion rounded shadow-soft mb-4">
              <!-- Card --
              <div class="card rounded">
                <div class="card-header card-collapse" id="shopCartHeadingOne">
                  <h3 class="mb-0">
                    <button type="button" class="btn btn-link btn-block card-btn font-weight-medium collapsed"
                            data-toggle="collapse"
                            data-target="#shopCartOne"
                            aria-expanded="false"
                            aria-controls="shopCartOne">
                      Promo code?
                      <span class="far fa-question-circle text-secondary ml-1" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" title="Promo code" data-content="Valid on full priced items only. Some products maybe excluded."></span>
                    </button>
                  </h3>
                </div>
                <div id="shopCartOne" class="collapse" aria-labelledby="shopCartHeadingOne" data-parent="#shopCartAccordion">
                  <form class="js-validate p-5">
                    <div class="input-group input-group-pill mb-3">
                      <input type="text" class="form-control" name="name" placeholder="Promo code" aria-label="Promo code">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-block btn-primary btn-pill">Apply</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- End Card --
            </div>
            <!-- End Accordion -->

            <!-- Help Link --
            <div class="media align-items-center">
              <figure id="icon4" class="svg-preloader ie-height-48 w-100 max-width-6 mr-2">
                <img class="js-svg-injector" src="../../assets/svg/icons/icon-4.svg" alt="SVG"
                     data-parent="#icon4">
              </figure>
              <div class="media-body text-secondary small">
                <span class="font-weight-medium mr-1">Need Help?</span>
                <a class="link-muted" href="cart.html#">Chat now</a>
              </div>
            </div>
            <!-- End Help Link -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Cart Section -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

   <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" *ngIf="products.length == 0">
    <!-- Cart Section -->
    <div class="container space-2 space-lg-3">
      <div class="w-md-80 w-lg-50 text-center mx-md-auto">
        <figure id="iconEmptyCart" class="svg-preloader ie-height-111 max-width-15 mx-auto mb-3">
          <img class="js-svg-injector" src="../../assets/svg/icons/icon-66.svg" alt="SVG"
               data-parent="#iconEmptyCart">
        </figure>
        <div class="mb-5">
          <h1 class="h3 font-weight-medium">Your cart is currently empty</h1>
          <p>Before proceed to checkout you must add some products to your shopping cart. You will find a lot of interesting products on our "Shop" page.</p>
        </div>
        <a class="btn btn-primary btn-pill transition-3d-hover px-5" href="/">Start Shopping</a>
      </div>
    </div>
    <!-- End Cart Section -->

    <!-- Subscribe Section -->
    <div class="bg-light">
      <div class="container space-2">
        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-6">
            <!-- Title -->
            <div class="text-center mb-4">
              <h2 class="h1 font-weight-medium">Stay in the know</h2>
              <p>Get special offers on the latest developments from Front.</p>
            </div>
            <!-- End Title -->

            <!-- Subscribe Form -->
            <form class="js-validate js-form-message w-lg-85 mx-lg-auto">
              <label class="sr-only" for="subscribeSrEmail">Email address</label>
              <div class="input-group input-group-pill">
                <input type="email" class="form-control" name="email" id="subscribeSrEmail" placeholder="Email address" aria-label="Email address" aria-describedby="subscribeButton" required
                       data-msg="Please enter a valid email address.">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary btn-sm-wide" id="subscribeButton">Join</button>
                </div>
              </div>
            </form>
            <!-- End Subscribe Form -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Subscribe Section -->

    <!-- Clients Section -->
    <div class="container space-2">
      <div class="row justify-content-between text-center">
        <div class="col-4 col-lg-2 mb-5 mb-lg-0">
          <div class="mx-4">
            <img class="u-clients" src="../../assets/svg/clients-logo/hollister.svg" alt="Image Description">
          </div>
        </div>
        <div class="col-4 col-lg-2 mb-5 mb-lg-0">
          <div class="mx-4">
            <img class="u-clients" src="../../assets/svg/clients-logo/levis.svg" alt="Image Description">
          </div>
        </div>
        <div class="col-4 col-lg-2 mb-5 mb-lg-0">
          <div class="mx-4">
            <img class="u-clients" src="../../assets/svg/clients-logo/new-balance.svg" alt="Image Description">
          </div>
        </div>
        <div class="col-4 col-lg-2">
          <div class="mx-4">
            <img class="u-clients" src="../../assets/svg/clients-logo/puma.svg" alt="Image Description">
          </div>
        </div>
        <div class="col-4 col-lg-2">
          <div class="mx-4">
            <img class="u-clients" src="../../assets/svg/clients-logo/nike.svg" alt="Image Description">
          </div>
        </div>
        <div class="col-4 col-lg-2">
          <div class="mx-4">
            <img class="u-clients" src="../../assets/svg/clients-logo/tnf.svg" alt="Image Description">
          </div>
        </div>
      </div>
    </div>
    <!-- End Clients Section -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
