<!-- ========== MAIN CONTENT ========== -->
  
<main id="content" role="main">
    <!-- Hero Section -->
    <div class="container space-top-1 space-top-sm-2">
      <div class="row">
        <div class="col-lg-7 mb-7 mb-lg-0">
          <div class="pr-lg-4">
            <div class="position-relative">
                <img class="img-fluid w-100 rounded" src="../../assets/img/product_images/{{product.image}}" alt="Image Description">
              <!-- Main Slider --
              <div id="heroSlider" class="js-slick-carousel u-slick border rounded"
                   data-fade="true"
                   data-infinite="true"
                   data-autoplay-speed="7000"
                   data-arrows-classes="d-none d-sm-inline-block u-slick__arrow u-slick__arrow--flat-white content-centered-y shadow-soft rounded-circle"
                   data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-inner u-slick__arrow-inner--left ml-3"
                   data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-inner u-slick__arrow-inner--right mr-3"
                   data-nav-for="#heroSliderNav">
                   
                <div class="js-slide">
                  <img class="img-fluid w-100 rounded" src="../../assets/img/product_images/{{product.image}}" alt="Image Description">
                </div>
                <div class="js-slide">
                  <img class="img-fluid w-100 rounded" src="../../assets/img/product_images/{{product.image_2}}" alt="Image Description">
                </div>
                
              </div>
              <!-- End Main Slider -->

              <!-- Slider Nav --
              <div class="position-absolute bottom-0 right-0 left-0 px-4 py-3">
                <div id="heroSliderNav" class="js-slick-carousel u-slick u-slick--gutters-1 u-slick--transform-off max-width-27 mx-auto"
                     data-slides-show="3"
                     data-infinite="true"
                     data-autoplay-speed="7000"
                     data-is-thumbs="true"
                     data-is-thumbs-progress="true"
                     data-thumbs-progress-options='{
                       "color": "#377DFF",
                       "width": 8
                     }'
                     data-thumbs-progress-container=".js-slick-thumb-progress"
                     data-nav-for="#heroSlider">
                  <div class="js-slide p-1">
                    <a class="js-slick-thumb-progress position-relative d-block u-avatar border rounded-circle p-1" href="javascript:;">
                      <img class="img-fluid rounded-circle" src="../../assets/img/product_images/{{product.image_2}}" alt="Image Description">
                    </a>
                  </div>
                  <div class="js-slide p-1">
                    <a class="js-slick-thumb-progress position-relative d-block u-avatar border rounded-circle p-1" href="javascript:;">
                      <img class="img-fluid rounded-circle" src="../../assets/img/product_images/{{product.image_2}}" alt="Image Description">
                    </a>
                  </div>
                  
                </div>
              </div>
              <!-- End Slider Nav -->
            </div>
          </div>
        </div>

        <!-- Product Description -->
        <div class="col-lg-5">
          <!-- Rating --
          <div class="d-flex align-items-center small mb-2">
            <div class="text-warning mr-2">
              <small class="fas fa-star"></small>
              <small class="fas fa-star"></small>
              <small class="fas fa-star"></small>
              <small class="fas fa-star"></small>
              <small class="fas fa-star"></small>
            </div>
            <a class="js-go-to link-muted" href="single-product.html#reviewSection"
               data-target="#reviewSection"
               data-compensation="#header"
               data-type="static">Read all 287 reviews</a>
          </div>
          <!-- End Rating -->

          <!-- Title -->
          <div class="mb-5">
            <h1 class="h3 font-weight-medium">{{product.name}}</h1>
            <p>{{product.description}}</p>
          </div>
          <!-- End Title -->

          <!-- Price -->
          <div class="mb-5">
            <h2 class="font-size-1 text-secondary font-weight-medium mb-0">Total price:</h2>
            <span class="font-size-2 font-weight-medium">{{product.discounted_price > 0 ? (product.discounted_price * quantity) : (product.price * quantity)}}</span>
            <span class="text-secondary ml-2" [hidden]="product.discounted_price == 0"><del>{{product.price}}</del></span>
          </div>
          <!-- End Price -->

          <!-- Quantity -->
          <div class="border rounded py-2 px-3 mb-3">
            <div class="js-quantity row align-items-center">
              <div class="col-7">
                <small class="d-block text-secondary font-weight-medium">Select quantity</small>
                <input class="js-result form-control h-auto border-0 rounded p-0" type="text" [(ngModel)]="quantity" #ctrl="ngModel">
              </div>
              <div class="col-5 text-right">
                <a class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle" (click)="rmv_qty()">
                  <small class="fas fa-minus btn-icon__inner"></small>
                </a>
                <a class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle" (click)="add_qty()">
                  <small class="fas fa-plus btn-icon__inner"></small>
                </a>
              </div>
            </div>
          </div>
          <!-- End Quantity -->

          <div class="mb-5" *ngFor="let attribute of attributes">
            <h2 class="font-size-1 text-secondary font-weight-medium mb-0">{{attribute.name}}</h2>
            <div class="mb-2">
            <ul class="product-attributes clearfix">
              <li *ngFor="let value of attribute.values" (click)="selectAttribute(attribute,value)" class="{{ attribute.value.attribute_value_id == value.attribute_value_id ? 'active' : '' }}">{{value.value}}</li>
            </ul>
          </div>
          </div>

          <div class="mb-4">
            <button type="button" class="btn btn-block btn-primary btn-pill transition-3d-hover" (click)="addToCart()">Add to Cart</button>
          </div>

          <!-- Help Link --
          <div class="media align-items-center">
            <span id="icon4" class="svg-preloader ie-height-48 w-100 max-width-6 mr-2">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-4.svg" alt="SVG"
                   data-parent="#icon4">
            </span>
            <div class="media-body text-secondary small">
              <span class="font-weight-medium mr-1">Need Help?</span>
              <a class="link-muted" href="single-product.html#">Chat now</a>
            </div>
          </div>
          <!-- End Help Link -->
        </div>
        <!-- End Product Description -->
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- Product Description Section --
    <div class="container space-top-2 space-lg-3">
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          <div class="pr-lg-4">
            <h3 class="h5 font-weight-medium">Details</h3>
            <p>As popular off field as they are on, New Era caps are standard issue amongst those with a passion for street culture, blending progressive styles with carefully crafted design. Known for their innovative use of colour, bold designs are added season upon season, referencing everything.</p>
          </div>
        </div>

        <div class="col-md-6 mb-5 mb-md-0">
          <h3 class="h5 font-weight-medium">Material and care</h3>

          <div class="row">
            <div class="col-sm-6">
              <ul class="text-secondary pl-3 mb-0">
                <li class="py-1">Main: 100% Cotton</li>
                <li class="py-1">Soft twill</li>
                <li class="py-1">Ribbed, diagonal pattern</li>
                <li class="py-1">Slightly structured</li>
              </ul>
            </div>

            <div class="col-sm-6">
              <ul class="text-secondary pl-3 mb-0">
                <li class="py-1">One size fits all</li>
                <li class="py-1">Imported</li>
                <li class="py-1">Product color: Dark greenish</li>
                <li class="py-1">Product code: #1465791</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Product Description Section -->

    <!-- Product Review Section --
    <div class="container">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 space-1 space-lg-2">
          <h3 class="font-weight-medium mb-4">A casual cap with Front originals style</h3>
          <p>This men's hat has low-key Trefoil style with an embroidered logo on the front.</p>
          <p>Made of washed canvas, the hat has a crushable, packable design and an adjustable back strap so you can personalize the fit.</p>
        </div>

        <div class="col-lg-6">
          <div class="bg-img-hero-center h-100 min-height-450 rounded" style="background-image: url('../../assets/img/750x750/img3.jpg');"></div>
        </div>
      </div>

      <div class="row justify-content-lg-between align-items-lg-center space-top-2 space-top-lg-3">
        <div class="col-lg-5 order-lg-2 space-1 space-lg-2">
          <div class="mb-6">
            <h3 class="font-weight-medium mb-4">A casual cap with Front originals style</h3>
            <p>This men's hat has low-key Trefoil style with an embroidered logo on the front.</p>
            <p>Made of washed canvas, the hat has a crushable, packable design and an adjustable back strap so you can personalize the fit.</p>
          </div>
        </div>

        <div class="col-lg-6 order-lg-1">
          <div class="bg-img-hero-center h-100 min-height-450 rounded" style="background-image: url('../../assets/img/750x750/img4.jpg');"></div>
        </div>
      </div>
    </div>
    <!-- End Product Review Section -->

   

    <!-- Review Section --
    <div id="reviewSection" class="container space-bottom-2 space-bottom-lg-3">
      <div class="row">
        

        <div class="col-lg-12">
          <div class="pl-lg-4">
            <!-- Title --
            <div class="border-bottom pb-4 mb-4">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="h5 text-secondary font-weight-normal mb-0">Sort on</h3>

                <!-- Select --
                <select class="js-select selectpicker dropdown-select"
                        data-size="10"
                        data-width="fit"
                        data-style="btn-soft-secondary btn-xs">
                  <option value="mostRecent" selected>Most recent</option>
                  <option value="relevant">Relevant</option>
                  <option value="helpful">Helpful</option>
                  <option value="newest">Newest</option>
                </select>
                <!-- End Select --
              </div>
            </div>
            <!-- End Title --

            <!-- Review --
            <div class="border-bottom pb-4 mb-4">
              <!-- Review Rating --
              <div class="d-flex justify-content-between align-items-center text-secondary font-size-1 mb-3">
                <div class="text-warning">
                  <small class="fas fa-star"></small>
                  <small class="fas fa-star"></small>
                  <small class="fas fa-star"></small>
                  <small class="fas fa-star"></small>
                  <small class="fas fa-star"></small>
                </div>
                <span>April 3, 2019</span>
              </div>
              <!-- End Review Rating --

              <h4 class="h6 font-weight-semi-bold text-uppercase">I jus love it!</h4>
              <p>I bought this hat for my boyfriend, but then i found out he cheated on me so I kept it and I love it!! I wear it all the time and there is no problem with the fit even though its a “mens” hat.</p>

              <!-- Reviewer --
              <div class="text-secondary font-size-1 mb-2">
                <strong class="text-dark">Hailey</strong>
                <span>- Verified Purchase</span>
              </div>
              <!-- End Reviewer --

              <!-- Helpful --
              <div class="font-size-1">
                <span>Was this helpful?</span>
                <span class="ml-2">
                  <a class="link-muted" href="javascript:;">Yes</a>
                  <span class="text-secondary">(45)</span>
                </span>
                <span class="ml-2">
                  <a class="link-muted" href="javascript:;">No</a>
                  <span class="text-secondary">(21)</span>
                </span>
              </div>
              <!-- End Helpful --
            </div>
            <!-- End Review --

            

           
          </div>
        </div>
      </div>
    </div>
    <!-- End Review Section -->

    
  </main>
  <!-- ========== END MAIN CONTENT ========== -->