<!--The content below is only a placeholder and can be replaced.-->
<div id="site-loader"></div>
<div id="site-container">
<div id="site-content">
<app-header></app-header>
<router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<div class="progress-section"></div>
</div>
<div class="compare__modal d-flex flex-column align-items-stretch">
  <div class="compare__container">
    <div class="compare__close close-icon">×</div>
    <div class="compare__content"></div>
  </div>
</div>
<div class="compare__overlay"></div>
<div class="cd-quick-view d-flex align-items-center justify-content-center">
  <div class="cd-content"></div>
  <div class="cd-overlay"></div>
</div>
<div id="weketing_google_translate_element" class="hide"></div>
