<!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Alert Info -->
    <div class="alert bg-info text-center font-size-1 rounded-0 mb-0" role="alert">
      <strong class="text-uppercase">30% off</strong> orders above $50 - Use code FRONT30OFF at checkout.
    </div>
    <!-- End Alert Info -->

    <!-- Hero Section -->
    <div class="bg-img-hero" style="background-image: url('../../assets/img/1920x800/img19.jpg');">
      <div class="container space-2 space-lg-3">
        <div class="w-md-65 w-lg-35">
          <div class="mb-4">
            <h1 class="font-weight-semi-bold">It's never too late</h1>
            <p class="text-dark">Simplicity is iconic. Minimal design, maximum style. From glasses to street favorite.</p>
          </div>
          <a class="btn btn-primary btn-pill transition-3d-hover px-5" href="categories.html#">Shop Now</a>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- Categories Section -->
    <div class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-40 text-center mx-md-auto mb-9">
        <h2 class="h3 font-weight-medium">Shop by category</h2>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-md-4 mb-5 mb-md-0">
          <!-- Card -->
          <div class="card d-block">
            <div class="card-body d-flex align-items-center p-0">
              <div class="w-65 border-right">
                <img class="img-fluid" src="../../assets/img/380x400/img3.jpg" alt="Image Description">
              </div>
              <div class="w-35">
                <div class="border-bottom">
                  <img class="img-fluid" src="../../assets/img/380x360/img32.jpg" alt="Image Description">
                </div>
                <img class="img-fluid" src="../../assets/img/380x360/img33.jpg" alt="Image Description">
              </div>
            </div>
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">T-shirts</h3>
              <span class="d-block text-muted font-size-1 mb-3">Starting from $29.99</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="categories.html#">View All T-shirts</a>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div class="col-md-4 mb-5 mb-md-0">
          <!-- Card -->
          <div class="card d-block">
            <div class="card-body d-flex align-items-center p-0">
              <div class="w-65 border-right">
                <img class="img-fluid" src="../../assets/img/380x400/img4.jpg" alt="Image Description">
              </div>
              <div class="w-35">
                <div class="border-bottom">
                  <img class="img-fluid" src="../../assets/img/380x360/img34.jpg" alt="Image Description">
                </div>
                <img class="img-fluid" src="../../assets/img/380x360/img35.jpg" alt="Image Description">
              </div>
            </div>
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">Tech covers</h3>
              <span class="d-block text-muted font-size-1 mb-3">Starting from $399.99</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="categories.html#">View All Tech covers</a>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div class="col-md-4">
          <!-- Card -->
          <div class="card d-block">
            <div class="card-body d-flex align-items-center p-0">
              <div class="w-65 border-right">
                <img class="img-fluid" src="../../assets/img/380x400/img5.jpg" alt="Image Description">
              </div>
              <div class="w-35">
                <div class="border-bottom">
                  <img class="img-fluid" src="../../assets/img/380x360/img36.jpg" alt="Image Description">
                </div>
                <img class="img-fluid" src="../../assets/img/380x360/img37.jpg" alt="Image Description">
              </div>
            </div>
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">Caps</h3>
              <span class="d-block text-muted font-size-1 mb-3">Starting from $13.99</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="categories.html#">View All Caps</a>
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
    </div>
    <!-- End Categories Section -->

    <!-- Products Section -->
    <div class="container space-bottom-2 space-bottom-lg-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-40 text-center mx-md-auto mb-9">
        <h2 class="h3 font-weight-medium">What's trending</h2>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-6 col-lg-3 mb-5 mb-lg-0">
          <!-- Card -->
          <div class="card d-block">
            <img class="card-img-top" src="../../assets/img/320x320/img6.jpg" alt="Image Description">
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">New releases</h3>
              <span class="d-block text-muted font-size-1 mb-3">Be well suited</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="categories.html#">View All</a>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div class="col-6 col-lg-3 mb-5 mb-lg-0">
          <!-- Card -->
          <div class="card d-block">
            <img class="card-img-top" src="../../assets/img/320x320/img7.jpg" alt="Image Description">
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">Sale</h3>
              <span class="d-block text-muted font-size-1 mb-3">30% off orders $50+</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="categories.html#">View All</a>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div class="col-6 col-lg-3">
          <!-- Card -->
          <div class="card d-block">
            <img class="card-img-top" src="../../assets/img/320x320/img5.jpg" alt="Image Description">
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">Best sellers</h3>
              <span class="d-block text-muted font-size-1 mb-3">Pole and interesting</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="categories.html#">View All</a>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div class="col-6 col-lg-3">
          <!-- Card -->
          <div class="card d-block">
            <img class="card-img-top" src="../../assets/img/320x320/img4.jpg" alt="Image Description">
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">Casual</h3>
              <span class="d-block text-muted font-size-1 mb-3">Can you casual it?</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="categories.html#">View All</a>
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
    </div>
    <!-- End Products Section -->

    <!-- Hero Section -->
    <div class="bg-img-hero-center" style="background-image: url('../../assets/img/1920x800/img20.jpg');">
      <div class="container space-2 space-lg-3">
        <div class="w-md-65 w-lg-35">
          <div class="mb-4">
            <h2 class="h1 text-white font-weight-semi-bold">Wear your pride</h2>
            <p class="text-white">Outdo the sun and refresh your workout with greys, whites and dark brights.</p>
          </div>
          <a class="btn btn-white btn-pill transition-3d-hover px-5" href="categories.html#">Shop the Collection</a>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->