<!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Title Section -->

    <!-- Products & Filters Section -->
    <div class="container space-2 space-bottom-lg-3">
      <div class="row">
        <div class="col-lg-9">


          <!-- Products -->
          <div class="row mx-n2 mb-2">

            <div *ngFor="let product of products" class="col-6 col-lg-3 px-2 px-sm-3 mb-3 mb-sm-5">
              <!-- Product -->
              <div class="card text-center h-100">
                <div class="position-relative">
                  <img class="card-img-top" src="../../assets/img/product_images/{{product.image}}" alt="{{product.name}}">

                  <!--<div class="position-absolute top-0 left-0 pt-3 pl-3">
                    <span class="badge badge-success badge-pill">New arrival</span>
                  </div>
                  <div class="position-absolute top-0 right-0 pt-3 pr-3">
                    <button type="button" class="btn btn-sm btn-icon btn-outline-secondary rounded-circle" data-toggle="tooltip" data-placement="top" title="Save for later">
                      <span class="fas fa-heart btn-icon__inner"></span>
                    </button>
                  </div>-->
                </div>

                <div class="card-body pt-4 px-4 pb-0">
                  <div class="mb-2">
                    <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="/product/{{product.product_id}}">{{product.name}}</a>
                    <h3 class="font-size-1 font-weight-normal">
                      <a class="text-secondary" href="/product/{{product.product_id}}">{{product.description | slice:0:30}}</a>
                    </h3>
                    <div class="d-block font-size-1">
                      <span class="font-weight-medium">${{product.price}}</span>
                    </div>
                  </div>
                </div>

                
                <!--<div class="card-footer border-0 pt-0 pb-4 px-4">

                  <button type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover" (click)="addToCart(product.product_id)">Add to Cart</button>
                </div>-->
              </div>
              <!-- End Product -->
            </div>

          </div>
          <!-- End Products -->

          <div class="py-3"></div>

          <!-- Pagination -->
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-between align-items-center">
              <li class="page-item ml-0">
                <a class="page-link" (click)="pagination(page - 1)" [hidden]="page == 0" aria-label="Previous">
                  <span aria-hidden="true">&laquo; Prev</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item">
                <div class="d-flex align-items-center">
                  <span class="d-none d-sm-inline-block text-secondary">Page:</span>

                  <select class="custom-select custom-select-sm w-auto mx-2" (change)="pagination($event.target.value)">
                    <option value="{{pg}}" *ngFor="let pg of pages_array">{{pg+1}}</option>
                  </select>

                  <span class="d-none d-sm-inline-block text-secondary">of {{pages}}</span>
                </div>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="pagination(page + 1)" aria-label="Next" [hidden]="page == (pages-1)">
                  <span aria-hidden="true">Next &raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- End Pagination -->

          <!-- Divider -->
          <div class="d-lg-none">
            <hr class="my-11">
          </div>
          <!-- End Divider -->
        </div>

        <!-- Filters -->
        <div class="col-lg-3">
      


            <div class="border-bottom pb-4 mb-4">
              <h4 class="h6 mb-3">Department</h4>

              <!-- Checkboxes -->
              <div *ngFor="let department of departments" class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1" (click)="check(department)">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input"  checked [(ngModel)]="department.selected" >
                  <label class="custom-control-label text-lh-md" for="genderMen">{{department.name}}</label>
                </div>
                <small>{{department.products ? department.products.length : 0}}</small>
              </div>
              
              <!-- End Checkboxes -->
            </div>

            <div class="border-bottom pb-4 mb-4">
              <h4 class="h6 mb-3">Categories</h4>

              <!-- Checkboxes -->
              <div *ngFor="let category of categories" class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1" (click)="check(category)">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox"  class="custom-control-input"  [(ngModel)]="category.selected" (change)="filter()">
                  <label class="custom-control-label" >{{category.name}}</label>
                </div>
                <small>{{category.products.length}}</small>
              </div>
            </div>

            <button type="button" class="btn btn-sm btn-block btn-soft-secondary transition-3d-hover" (click)="clearFilters()">Clear All</button>
        
        </div>
        <!-- End Filters -->
      </div>
    </div>
    <!-- End Products & Filters Section -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
